.small-height {
    height: 25%;
}

.large-height {
    height: 75%;
}

.avg-height {
    height: 50%;
}

.avg-width {
    width: 50%
}

.col-height {
    height: 800px;
}

.row-width {
    width: 1485px;
}

.light-on {
    background-color: yellow;
}

.light-off {
    background-color: grey;
}

.light-disabled {
    background-color: white;
}

.walls {
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.jumbotron {
    height: 175px;
    margin-top: -50px;
}
