<jqxNotification #notification
                 [width]="'20%'" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
                 [autoClose]="true" [animationOpenDelay]="0" [autoCloseDelay]="5000" [template]="'info'">
    <div>
        <span id="warning" style="font-weight: bold;"></span>.
    </div>
</jqxNotification>

<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <h5>Notification group: 
        <select (change)="onChange($event.target.value)">
            <option *ngFor="let group of groups">{{group}}</option>
        </select>
        </h5>
    </div>
    <div class="container">
        <div class="row row-width">
            <div class="col-md-3 border-left border-top border-bottom col-height">
                <div class="row border-bottom avg-height">
                    <div #room1 class="container light-off walls">
                        <div class="row" style="margin-left: 10px">
                            <p style="font-weight: bold">Guest Bedroom</p>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div style="margin-left: 25px; float: left">
                                        <jqxGauge *ngIf="temperatureEnabled === true" #temp1
                                                  [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                                  [ranges]="tempRanges" [ticksMinor]="tempTicksMinor" [ticksMajor]="tempTicksMajor"
                                                  [labels]="tempLabels" [style]="tempStyle" [caption]="tempCaption" [cap]="'radius: 0.04'"
                                                  [width]="150" [height]="150" [max]="tempMax" [min]="tempMin">
                                        </jqxGauge>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div style="margin-left: 75px; margin-top: 25px; float: left">
                                            <p *ngIf="windowsEnabled === true" style="font-weight: bold">Windows opened</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="margin-left: 175px; margin-top: 25px; float: left">
                                            <jqxProgressBar *ngIf="windowsEnabled === true" #windows1
                                                            [animationDuration]="0"
                                                            [width]="50"
                                                            [height]="50"
                                                            [value]="100"
                                                            [template]="'success'">
                                            </jqxProgressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="margin-left: 125px; float: left">
                                    <jqxGauge *ngIf="humidityEnabled === true" #humid1
                                              [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                              [ranges]="humidRanges" [ticksMinor]="humiTicksMinor" [ticksMajor]="humidTicksMajor"
                                              [labels]="humidLabels" [style]="humidStyle" [caption]="humidCaption"
                                              [cap]="'radius: 0.04'" [width]="150" [height]="150" [max]="humidMax" [min]="humidMin">
                                    </jqxGauge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row avg-height">
                    <div #room2 class="container light-off walls">
                        <div class="row" style="margin-left: 10px">
                            <p style="font-weight: bold">Master Bedroom</p>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div style="margin-left: 25px; float: left">
                                        <jqxGauge *ngIf="temperatureEnabled === true" #temp2
                                                  [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                                  [ranges]="tempRanges" [ticksMinor]="tempTicksMinor" [ticksMajor]="tempTicksMajor"
                                                  [labels]="tempLabels" [style]="tempStyle" [caption]="tempCaption" [cap]="'radius: 0.04'"
                                                  [width]="150" [height]="150" [max]="tempMax" [min]="tempMin">
                                        </jqxGauge>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div style="margin-left: 75px; margin-top: 25px; float: left">
                                            <p *ngIf="windowsEnabled === true" style="font-weight: bold">Windows opened</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="margin-left: 175px; margin-top: 25px; float: left">
                                            <jqxProgressBar *ngIf="windowsEnabled === true" #windows2
                                                            [animationDuration]="0"
                                                            [width]="50"
                                                            [height]="50"
                                                            [value]="100"
                                                            [template]="'success'">
                                            </jqxProgressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="margin-left: 125px; float: left">
                                    <jqxGauge *ngIf="humidityEnabled === true" #humid2
                                              [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                              [ranges]="humidRanges" [ticksMinor]="humiTicksMinor" [ticksMajor]="humidTicksMajor"
                                              [labels]="humidLabels" [style]="humidStyle" [caption]="humidCaption"
                                              [cap]="'radius: 0.04'" [width]="150" [height]="150" [max]="humidMax" [min]="humidMin">
                                    </jqxGauge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 border-left border-top border-bottom col-height">
                <div class="row border-bottom small-height">
                    <div #room3 class="container light-off walls">
                        <div class="row" style="margin-left: 10px">
                            <p style="font-weight: bold">Hallway</p>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div style="margin-left: 25px; float: left">
                                        <jqxGauge *ngIf="temperatureEnabled === true" #temp3
                                                  [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                                  [ranges]="tempRanges" [ticksMinor]="tempTicksMinor" [ticksMajor]="tempTicksMajor"
                                                  [labels]="tempLabels" [style]="tempStyle" [caption]="tempCaption" [cap]="'radius: 0.04'"
                                                  [width]="150" [height]="150" [max]="tempMax" [min]="tempMin">
                                        </jqxGauge>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="margin-left: 125px; float: left">
                                    <jqxGauge *ngIf="humidityEnabled === true" #humid3
                                              [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                              [ranges]="humidRanges" [ticksMinor]="humiTicksMinor" [ticksMajor]="humidTicksMajor"
                                              [labels]="humidLabels" [style]="humidStyle" [caption]="humidCaption"
                                              [cap]="'radius: 0.04'" [width]="150" [height]="150" [max]="humidMax" [min]="humidMin">
                                    </jqxGauge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row large-height">
                    <div #room4 class="container light-off walls">
                        <div class="row" style="margin-left: 10px">
                            <p style="font-weight: bold">Living Room</p>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div style="margin-left: 25px; float: left">
                                        <jqxGauge *ngIf="temperatureEnabled === true" #temp4
                                                  [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                                  [ranges]="tempRanges" [ticksMinor]="tempTicksMinor" [ticksMajor]="tempTicksMajor"
                                                  [labels]="tempLabels" [style]="tempStyle" [caption]="tempCaption" [cap]="'radius: 0.04'"
                                                  [width]="150" [height]="150" [max]="tempMax" [min]="tempMin">
                                        </jqxGauge>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div style="margin-left: 75px; margin-top: 25px; float: left">
                                            <p *ngIf="windowsEnabled === true" style="font-weight: bold">Windows opened</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="margin-left: 175px; margin-top: 25px; float: left">
                                            <jqxProgressBar *ngIf="windowsEnabled === true" #windows4
                                                            [animationDuration]="0"
                                                            [width]="50"
                                                            [height]="50"
                                                            [value]="100"
                                                            [template]="'success'">
                                            </jqxProgressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="margin-left: 125px; float: left">
                                    <jqxGauge *ngIf="humidityEnabled === true" #humid4
                                              [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                              [ranges]="humidRanges" [ticksMinor]="humiTicksMinor" [ticksMajor]="humidTicksMajor"
                                              [labels]="humidLabels" [style]="humidStyle" [caption]="humidCaption"
                                              [cap]="'radius: 0.04'" [width]="150" [height]="150" [max]="humidMax" [min]="humidMin">
                                    </jqxGauge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 border col-height">
                <div class="row border-bottom avg-height">
                    <div #room5 class="container light-off walls">
                        <div class="row" style="margin-left: 10px">
                            <p style="font-weight: bold">Kitchen</p>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div style="margin-left: 25px; float: left">
                                        <jqxGauge *ngIf="temperatureEnabled === true" #temp5
                                                  [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                                  [ranges]="tempRanges" [ticksMinor]="tempTicksMinor" [ticksMajor]="tempTicksMajor"
                                                  [labels]="tempLabels" [style]="tempStyle" [caption]="tempCaption" [cap]="'radius: 0.04'"
                                                  [width]="150" [height]="150" [max]="tempMax" [min]="tempMin">
                                        </jqxGauge>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div style="margin-left: 75px; margin-top: 25px; float: left">
                                            <p *ngIf="windowsEnabled === true" style="font-weight: bold">Windows opened</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="margin-left: 175px; margin-top: 25px; float: left">
                                            <jqxProgressBar *ngIf="windowsEnabled === true" #windows5
                                                            [animationDuration]="0"
                                                            [width]="50"
                                                            [height]="50"
                                                            [value]="100"
                                                            [template]="'success'">
                                            </jqxProgressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="margin-left: 125px; float: left">
                                    <jqxGauge *ngIf="humidityEnabled === true" #humid5
                                              [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                              [ranges]="humidRanges" [ticksMinor]="humiTicksMinor" [ticksMajor]="humidTicksMajor"
                                              [labels]="humidLabels" [style]="humidStyle" [caption]="humidCaption"
                                              [cap]="'radius: 0.04'" [width]="150" [height]="150" [max]="humidMax" [min]="humidMin">
                                    </jqxGauge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row avg-height">
                    <div #room6 class="container light-off walls">
                        <div class="row" style="margin-left: 10px">
                            <p style="font-weight: bold">Bathroom</p>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div style="margin-left: 25px; float: left">
                                        <jqxGauge *ngIf="temperatureEnabled === true" #temp6
                                                  [value]="20" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                                  [ranges]="tempRanges" [ticksMinor]="tempTicksMinor" [ticksMajor]="tempTicksMajor"
                                                  [labels]="tempLabels" [style]="tempStyle" [caption]="tempCaption" [cap]="'radius: 0.04'"
                                                  [width]="150" [height]="150" [max]="tempMax" [min]="tempMin">
                                        </jqxGauge>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div style="margin-left: 75px; margin-top: 25px; float: left">
                                            <p *ngIf="windowsEnabled === true" style="font-weight: bold">Windows opened</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="margin-left: 175px; margin-top: 25px; float: left">
                                            <jqxProgressBar *ngIf="windowsEnabled === true" #windows6
                                                            [animationDuration]="0"
                                                            [width]="50"
                                                            [height]="50"
                                                            [value]="100"
                                                            [template]="'success'">
                                            </jqxProgressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="margin-left: 125px; float: left">
                                    <jqxGauge *ngIf="humidityEnabled === true" #humid6
                                              [value]="values[5]" [colorScheme]="'scheme04'" [animationDuration]="1500"
                                              [ranges]="humidRanges" [ticksMinor]="humiTicksMinor" [ticksMajor]="humidTicksMajor"
                                              [labels]="humidLabels" [style]="humidStyle" [caption]="humidCaption"
                                              [cap]="'radius: 0.04'" [width]="150" [height]="150" [max]="humidMax" [min]="humidMin">
                                    </jqxGauge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
